:root
{
    /* Header */
    /* Main */
    /* Form */
    /* Footer */

    --color-bg: #121212;
    --color-bg-hover: #000000;
    --color-text-primary: #e4e6eb;
    --color-text-secondary: #a0a0a0;

    /* Header button */
    --color-header-primary: #bbbbbb;
    --color-header-primary-hover: #e4e6e4;

    /* Buttons */
    --color-primary: #3a86ff;
    --color-primary-hover: #2563eb;

    --color-secondary: #404040;
    --color-secondary-hover: #2a2a2a;

    /* Form */
    --color-bg-form: #1e1e1e;
    --color-input-bg: #2a2a2a;
    --color-input-border: #3a3a3a;
}

*, *::before, *::after
{
    font-family: sans-serif, Arial, Helvetica;
    box-sizing: border-box;

    padding: 0;
    margin: 0;
}

/* Text */

.h
{
    margin: 30px 0 10px 0;
}

.p
{
    margin: 20px 0;
    text-align: center;
}

.text-white { color: white; }
.text-black { color: black; }

/* Flex */
.flex { display: flex; }

.flex.flex-start { justify-content: flex-start; }
.flex.flex-end { justify-content: flex-end; }
.flex.flex-between { justify-content: space-between; align-items: center; }
.flex.flex-around { justify-content: space-around; align-items: center; }
.flex.flex-center { justify-content: center; align-items: center; }
.flex.gap { gap: 10px; }

.flex.flex-row-reverse { flex-direction: row-reverse; }
.flex.flex-column { flex-direction: column; }

.hr { margin: 30px 0; }
.hidden { display: none !important; }
.transparent { opacity: 0; }