body
{
    background-color: black;
}

.form
{
    width: 50%;
    min-width: 300px;

    padding: 30px 100px;

    border-radius: 20px;

    gap: 15px;

    background-color: white;
}
.form.big { width: 70%; }

.form-input
{
    width: 100%;
    padding: 10px;
    margin-top: 5px;

    border: 2px solid black;
}

.form-checkbox
{
    width: 17px;
    height: 17px;
    margin-right: 5px;
}

/* Container with the buttons */
.form-btn-container
{
    width: 100%;
    margin-top: 20px;

    display: flex;
    justify-content: space-around;
    gap: 10px;
}

/* Output with the errors */
.form-error
{
    padding: 15px;
    font-weight: bold;

    color: black;
    background-color: lightcoral;
    border: 2px solid red;
    border-radius: 20px;
}

.form-btn-container button { width: 150px; }
.form-btn-max { width: 100%; }