/* Container with all photos */
.gallery-container
{
    flex-wrap: wrap;
    gap: 20px;

    max-width: 1200px;
    margin: 0 auto;
}

/* Username owner of the image */
.element-user
{
    margin: 5px;
    font-weight: bold;
}

/* Image */
.element-image
{
    border: 1px solid black;
    width: 100%;
}

/* Container with the likes and comment buttons */
.element-btn-container
{
    border: 1px solid black;
}

/* Button with a image and a span */
.element-icon-btn
{
    gap: 5px;
    padding: 3px 10px;

    cursor: pointer;
}

/* Icon of likes and comments selected */
.element-icon.selected
{
    filter: grayscale(100%) brightness(0);
}

/* Container of comments */
.comments-container
{
    display: none;
}
.comments-container.show
{
    display: block;
}

/* Button x container */
.btn-x-container
{
    margin-top: 5px;
    margin-right: 5px;
}

/* Button X */
.btn-x
{
    font-weight: bold;
    border: none;
    background: transparent;
    cursor: pointer;
}

/* All comments container */
.comments-list
{
    gap: 15px;
    margin: 0 5px 20px 5px;
}

/* Comment -> user + date */
.comment-title
{
    font-weight: bold;
}

/* Comment -> text */
.comment-text
{
    margin-top: 5px;
    margin-left: 10px;
}

/* Container with the input and the button send */
.upload-container
{
    border: 1px solid black;
    padding: 5px;
}

/* Input where you can write your comment */
.upload-text
{
    width: 80%;
    height: 30px;
    
    padding: 5px;
    font-size: 17px;

    border: 2px solid black;
}

/* Button to send a comment */
.upload-btn
{
    width: 15%;
    height: 30px;
    cursor: pointer;
    border: none;
}

/* Container of index */
.index-container
{
    height: 30px;
    margin: auto;

    margin-top: 20px;
    gap: 10px;

}

/* hr of indexs */
.index-container hr
{
    height: 25px;
}

/* Indexs */
.index-container a
{
    text-decoration: none;
    color: black;
}

/* Container of every image */
/* Mobile */
.gallery-element
{
    border: 2px solid black;
    flex: 1 1 calc(100% - 20px);
    max-width: calc(100% - 20px);
}

/* Tablet */
@media (min-width: 480px) and (max-width: 767px)
{
    .gallery-element
    {
        flex: 1 1 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
}

/* PC */
@media (min-width: 768px)
{
    .gallery-element
    {
        flex: 1 1 calc(33.333% - 20px);
        max-width: calc(33.333% - 20px);
    }
}