*, *::before, *::after, body, html
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* .btn
{
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 10px;
}

.btn-reset
{
    color: white;
    background-color: gray;
}

.btn-send
{
    color: white;
    background-color: rgb(0, 140, 255);
} */

.transparent
{
    opacity: 0;
}

.hidden
{
    display: none;
}