# Archivos del Sistema Operativo
.DS_Store
Thumbs.db
.ipynb_checkpoints/

# Configuración y Credenciales
.env
!.env.example

# Archivos temporales de editores (Vim, VSCode, etc.)
*.swp
*~
.vscode/
.idea/

# Contenido dinámico (Fotos de prueba de los usuarios)
# Esto ignora las imágenes subidas pero mantendrá la estructura de carpetas limpia
sources/public/uploads/*
!.gitkeep

# Logs de error de Nginx, PHP o MySQL en local
*.log
