# Operating System files
.DS_Store
Thumbs.db
.ipynb_checkpoints/

# Configuration and Credentials
.env
!.env.example

# Temporary editor files (Vim, VSCode, etc.)
*.swp
*~
.vscode/
.idea/

# Dynamic content (User uploads)
# Ignores uploaded user images while preserving folder structure
sources/public/uploads/*
!.gitkeep

# Error logs
*.log

