<FilesMatch "\.(tpl|env)$">
    Require all denied
</FilesMatch>

<FilesMatch "^\.">
    Require all denied
</FilesMatch>

RewriteEngine On

# Si archivo o carpeta existe, no tocar
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteRule ^([a-z]{2})/([a-z0-9-_]+)$ index.php?lang=$1&page=$2 [QSA,L]