.btn
{
    padding: 10px 20px;
    cursor: pointer;
    border: none;
}

/* Dropdown button */
.btn-drop
{
    color: rgb(196, 196, 196);
    background: none;
    border: none;
    font-size: 16px;

    border-bottom: 2px solid transparent;
}
.btn-drop:hover
{
    color: orange;
    border-bottom: 2px solid white;
}

/* Primary button */
.btn-primary
{
    color: white;
    background-color: var(--color-primary);
}
.btn-primary:hover
{
    background-color: var(--color-primary-hover);
}

/* Secondary button */
.btn-secondary
{
    color: white;
    background-color: var(--color-secondary);

}
.btn-secondary:hover
{
    background-color: var(--color-secondary-hover);
}

/* Danger button */
.btn-danger
{

}
.btn-danger:hover
{

}

/* Language button */
.btn-lang
{
    width: 100%;
    color: black;
    background-color: white;
}

/* Links without decoration */
.link
{
    text-decoration: none;
}

/* Header */
.link.header
{
    padding: 10px 20px;
    color: rgb(196, 196, 196);
    border-bottom: 2px solid transparent;
}
.link.header:hover
{
    color: orange;
    border-bottom: 2px solid white;
}

/* Footer */
.link.footer
{
    
}
.link.footer:hover
{
    
}

/* Dropdown-list links */
.link.header.drop
{
    width: 100%;
    padding: 10px 0;
}

/* Images */
.icon
{
    width: 30px;
    height: 30px;
}
.icon.selected
{
    background-color: black;
}

.image
{
    width: 100%;
}

.b-red
{
    border: 2px solid red;
}

.b-blue
{
    border: 2px solid blue;
}

.b-green
{
    border: 2px solid green;
}

.b-yellow
{
    border: 2px solid yellow;
}