header
{
    padding: 20px 15px;
    background-color: black;
}

#home
{
    font-size: x-large;
    color: yellow;
}

#nav-guest div, #nav-auth div
{
    gap: 10px;
}

#logout
{
    width: 30px;
    height: 30px;

    margin-left: 18px;

    cursor: pointer;
}

/* BURGUER - ONLY GUEST */

.burguer
{
    width: 30px;
    height: 22px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background: none;
    border: none;
    cursor: pointer;
}

.burguer span
{
    height: 3px;
    background-color: white;
    border-radius: 3px;
}

.burguer.active span:nth-child(1) { transform: translateY(9px) rotate(45deg); }
.burguer.active span:nth-child(2) { opacity: 0; }
.burguer.active span:nth-child(3) { transform: translateY(-9px) rotate(-45deg); }

/* DROPDOWN */

.dropdown
{
    position: relative;
}

.dropdown-list
{
    /* Position */
    position: absolute;
    top: 100%;
    right: -50%;

    /* Detalles */
    min-width: 230px;
    padding: 20px;

    /* Visualizacion */
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    /* Colores */
    background-color: black;
}
.dropdown-list.lang-pos
{
    top: 100%;
    right: 0%;
}

#btn-lang
{
    margin-top: 10px;
}

/* RESPONSIVE */

.nav-pc
{
    display: block;
}

.nav-mobile
{
    display: none;
}

@media screen and (max-width: 800px)
{
    .nav-mobile
    {
        display: block;
    }

    .nav-pc
    {
        display: none;
    }
}
