#sticker-picker img, #sticker-overlay img
{
    width: 100px;
    height: 100px;
}

/* Estado 1 */

col: 1fr 8fr 1fr
row: 9fr 1fr

/* Estado 2 */

col: 1fr 8fr 1fr
row: 9fr 1fr

overlay: absolute
modificador: absolute

/* Estado 3 */

col: 1fr 8fr 1fr
row: 9fr 1fr

/* Estado 4 */

col: 1fr

buttons: absolute









#camera-app aside { border: 2px solid red; }
#camera-app section { border: 2px solid blue; }

.hidden { display: none; }
.transparent { opacity: 0; }