#sticker-picker img, #sticker-overlay img
{
    width: 100px;
    height: 100px;
}

video
{
    width: 100%;
    max-width: 800px;
    aspect-ratio: 4 / 3;
    object-fit: cover;
}

#camera-app
{
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
}

.text-center { text-align: center; }

#camera-app aside { border: 2px solid red; }
#camera-app section { border: 2px solid blue; }

.hidden { display: none; }
.transparent { opacity: 0; }